<div class="home-intro">
    <div class="jumbo">{{site.heading}}</div>
    <div class="home-sub-text">
        <h3>
            Passionate about persuasion and an enthusiast trying to become a trail runner, who loves building things. I find liberation at the top of a mountain, enjoy reading, and spending time in nature. With half a decade of experience in international sales, revenue generation, and product operations, I’m currently leading product ops at Infra.market.
        </h3>
    </div>
</div>
